<script type="text/x-template" id="templateScriptId">

		<div>
			<p>this is .net core mvc partial view</p>
			<p>Note：root 元素不能是 template</p>
			<p>希望透過 vue component 綁定並渲染</p>
			<p>{{ componentStr }}</p>
		</div>
</script>